{% extends 'layout.html' %}

{% block cust_stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='Hospiprofile.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="main-bar">
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto pl-5 pr-5" id="main-form">
    <form method="POST" action="" class="form">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom p-3 mb-4">Register Hospital</legend>
        <div class="form-group">
          {{ form.name.label(class="form-control-label") }}
          {% if form.name.errors %}
          {{ form.name(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.name(class="form-control form-control",value=Hospital.name) }}
          {% endif %}
        </div>
        <!-- 
        <input class="col-md-6 form-control location-area pl-4" type="search" placeholder="Search Hospitals" 
        aria-label="Search"> -->

        <div class="form-group">
          {{ form.address.label(class="form-control-label") }}
          {% if form.address.errors %}
          {{ form.address(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.address.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.address(class="form-control form-control location-area", id="autocomplete",value=Hospital.address) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
          {{ form.email(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.email(class="form-control form-control",value=Hospital.email) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.vacancy.label(class="form-control-label") }}
          {% if form.vacancy.errors %}
          {{ form.vacancy(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.vacancy.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.vacancy(class="form-control form-control",value=Hospital.vacancy) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.total_beds.label(class="form-control-label") }}
          {% if form.total_beds.errors %}
          {{ form.total_beds(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.total_beds.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.total_beds(class="form-control form-control",value=Hospital.total_beds) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.sev1_bud.label(class="form-control-label") }}
          {% if form.sev1_bud.errors %}
          {{ form.sev1_bud(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.sev1_bud.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.sev1_bud(class="form-control form-control",value=Hospital.sev1_bud) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.sev2_bud.label(class="form-control-label") }}
          {% if form.sev2_bud.errors %}
          {{ form.sev2_bud(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.sev2_bud.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.sev2_bud(class="form-control form-control",value=Hospital.sev2_bud) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.sev3_bud.label(class="form-control-label") }}
          {% if form.sev3_bud.errors %}
          {{ form.sev3_bud(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.sev3_bud.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.sev3_bud(class="form-control form-control",value=Hospital.sev3_bud) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.sev4_bud.label(class="form-control-label") }}
          {% if form.sev4_bud.errors %}
          {{ form.sev4_bud(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.sev4_bud.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.sev4_bud(class="form-control form-control",value=Hospital.sev4_bud) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.sev5_bud.label(class="form-control-label") }}
          {% if form.sev5_bud.errors %}
          {{ form.sev5_bud(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.sev5_bud.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.sev5_bud(class="form-control form-control",value=Hospital.sev5_bud) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.num_doc.label(class="form-control-label") }}
          {% if form.num_doc.errors %}
          {{ form.num_doc(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.num_doc.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.num_doc(class="form-control form-control",value=Hospital.no_of_doctors) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.num_nurse.label(class="form-control-label") }}
          {% if form.num_nurse.errors %}
          {{ form.num_nurse(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.num_nurse.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.num_nurse(class="form-control form-control",value=Hospital.no_of_nurses) }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.num_equip.label(class="form-control-label") }}
          {% if form.num_equip.errors %}
          {{ form.num_equip(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.num_equip.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.num_equip(class="form-control form-control",value=Hospital.no_of_equipment) }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
  </div>
</div>
</div>
{% endblock content %}

{% block cust_scripts %}
{% endblock %}