{% extends 'layout.html' %}

{% block cust_stylesheet %}

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="330855146118-3vhjm320p2b0hae8ovtvrh65jj3njkms.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!--for star rating-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block content %}
<header class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="container-fluid">
      <a href="#"></a>
      <form class="form-inline navbar-nav ml-auto">
        <div class="g-signin2 mr-2" data-onsuccess="onSignIn" data-theme="dark" id="goggleSignInBtn"></div>
        <a href="#" class="btn btn-light btn-sm mr-1" onclick="signOut();" id="googleSignout">Sign out</a>
        <!-- <button class="btn btn-light btn-sm mr-2" name="login" data-toggle="modal"  data-target="#profileModal">User Profile</button> -->
        <button class="btn btn-light btn-sm" name="login">About Us</button>
      </form>
    </div>
  </nav>
</header>

<div class="Main-jumbo">
  <div class="container">
    <div class="row" style="height:7rem"></div>
    <div class="row justify-content-center">
      <p class="display-3 text-center p-3">HealthAid</p><br>
    </div>
    <hr style="width:50%">
    <div class="row justify-content-center mt-4">
      <!-- <form class="form-inline my-2 my-lg-0 large-search"> -->
      <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
      <form class="form-inline large-search" method="POST">
        <input class="col-md-6 form-control location-area pl-4" type="search" placeholder="Enter your Location"
          id="autocomplete" aria-label="Search" name='search'>
        <input class="col-md-3 form-control location-area pl-4" type="button" value="Use current location" id="getloc"
          aria-label="Search" onclick="getLoc();" name='search-loc'>
        <button class=" btn btn-light btn-outline-dark location-search" type="submit" onclick="showTabs()">Search</button>

        <!-- </form> -->
    </div>
    <div class="row justify-content-center mt-4">
      <label>Rate your emergency:</label>
    </div>
    <div class="row justify-content-center mt-2 text-center">
      <div class="slidecontainer justify-content-center">
        <input class="slider" name="severity" type="range" min="1" max="5" step="1" required>
      </div>
    </div>
    </form>
    <div class="row" style="height:8rem"></div>
  </div>
</div>
<div class="container-fluid footer-strip mb-2" style="height:1rem">

</div>

<!--Display hospital info here-->
<div class="container">
  <div class="container">
    <ul class="nav nav-tabs" id='that-bar'>
      <button class="tablinks active" onclick="openCity(event, 'Overall')">Overall</button>
      <button class="tablinks" onclick="openCity(event, 'Quality')">Quality</button>
      <button class="tablinks" onclick="openCity(event, 'Time')">Time</button>
      <button class="tablinks" onclick="openCity(event, 'Budget')">Budget</button>
    </ul>
    <div id="Overall" class="tabcontent">
      {% if data %}
      <div class="row">
        {% for i in data.d0 %}
        <div class="col-md p-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ i[2] }}</h4>
              <p><span class="heading">Rating:</span>
                <!--The number of stars to check-->
                <span>{{ i[6] }} average based on {{ i[7] }}</span>
              </p>
              <p class="card-text text-muted">Address: {{ i[3] }}</p>
              <a href="#" class="btn btn-primary">See Location</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div id="Time" class="tabcontent">
      {% if data %}
      <div class="row">
        {% for i in data.d2 %}
        <div class="col-md p-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ i[2] }}</h4>
              <p><span class="heading">Rating:</span>
                <!--The number of stars to check-->
                <span>{{ i[6] }} average based on {{ i[7] }}</span>
              </p>
              <p class="card-text text-muted">Address: {{ i[3] }}</p>
              <a href="#" class="btn btn-primary">See Location</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div id="Quality" class="tabcontent">
      {% if data %}
      <div class="row">
        {% for i in data.d1 %}
        <div class="col-md p-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ i[2] }}</h4>
              <p><span class="heading">Rating:</span>
                <!--The number of stars to check-->
                <span>{{ i[6] }} average based on {{ i[7] }}</span>
              </p>
              <p class="card-text text-muted">Address: {{ i[3] }}</p>
              <a href="#" class="btn btn-primary">See Location</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div id="Budget" class="tabcontent">
      {% if data %}
      <div class="row">
        {% for i in data.d3 %}
        <div class="col-md p-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ i[2] }}</h4>
              <p><span class="heading">Rating:</span>
                <!--The number of stars to check-->
                <span>{{ i[6] }} average based on {{ i[7] }}</span>
              </p>
              <p class="card-text text-muted">Address: {{ i[3] }}</p>
              <a href="#" class="btn btn-primary">See Location</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container" style="width:100%; height:100%;">
    <div class="map col-12" id="map" style="width:100%; height:100%;"></div>
  </div>
</div>

<div class="container-fluid footer-strip">
</div>

{% endblock content %}
{% block cust_scripts %}

<script src="{{ url_for('static', filename='index.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdVpvGO8uGeUlz7o7qQBrMqyWb0P6JkIM&libraries=places&callback=initAutocomplete"
  async defer></script>
<script>
  var placeSearch, autocomplete, geocoder;
  function initAutocomplete() {
    geocoder = new google.maps.Geocoder();
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete')), {
      types: ['geocode']
    });
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function codeAddress(address) {
    geocoder.geocode({
      'address': address
    }, function (results, status) {
      if (status == 'OK') {
        // This is the lat and lng results[0].geometry.location
        alert(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  function fillInAddress() {
    var place = autocomplete.getPlace();
    codeAddress(document.getElementById('autocomplete').value);
  }

  /*get current location*/
  function getLoc() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(displayLocation, showError);
    } else {
      alert("Couldn't get your location");
    }
  }
  function displayLocation(position) {
    lat = position.coords.latitude;
    lng = position.coords.longitude;
    console.log('lat' + lat + ' lng' + lng);
  }
  function showError(error) {
    console.log(error);
  }

  /*get signin data*/
  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    /*console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());
    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);*/
    
    document.getElementById('goggleSignInBtn').style.display = 'none';
    document.getElementById('googleSignout').style.display = 'block';

    var sendurl='/updateusers?id='+profile.getId()+'&name='+profile.getName()+'&email='+profile.getEmail()+'&image='+profile.getImageUrl();
    console.log(sendurl);
    $.get( sendurl, function( data,success ) {
      console.log("data updated"+data);
    });
  }


  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    document.getElementById('goggleSignInBtn').style.display = 'block';
    document.getElementById('googleSignout').style.display = 'none';
  }

  $(document).ready(function () {//**
    console.log('here');
    document.getElementById('googleSignout').style.display = 'none';
  });


</script>
{% endblock %}