<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <p class="display-4">Rate your hospital experience</p>
      <input class="slider" name="Time" type="range" min="1" max="5" step="1" required>
      <input class="slider" name="Quality" type="range" min="1" max="5" step="1" required>
      <input class="slider" name="Budget" type="range" min="1" max="5" step="1" required>
    </div>
  </div>
</body>
</html>

<!--

-->