.Main-jumbo{
    background:url("https://github.com/meetshah06/HealthAid/blob/master/blossom-blossoms-blue-72161.jpg?raw=true");
    /* background:url("/Images/Jumbo.png"); */
    /*background-color:linear-gradient(166deg, rgba(35,136,190,1) , rgba(42, 110, 85,1));*/
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: multiply;
    /*background-image:url('/static/pictures/main-img.jpg');*/
    /*background-color: grey;*/
    background-size: cover;
    height:90%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*font-family: 'Montserrat', sans-serif;*/
    color:white;
}
.large-search{
	width:80%;
}
.location-area{
	width:78% !important;
	/*margin-right: 1rem auto !important; */
}
.location-search{
	width:18% !important;
	margin-left: 1rem !important;
	font-size: 100%;
}
./*fa-map-marker{
	position:relative;
	padding-left: 0.5rem;
	color:black;
	top:1rem;
	left:2rem;
	z-index:20;
}*/
/*Slider */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%; /* Full-width */
height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(42,218,255); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(42,218,255); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.footer-strip{
	background-color: rgba(42,218,255);
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.nav-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding:1rem;
  font-size: 1rem;
}

/* Change background color of buttons on hover */
.nav-tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.nav-tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 2rem;
  /*border: 1px solid #ccc;*/
  border-top: none;
}

.location-area,.location-search{
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
#googleSignout{
  display:none !important;
}

/* #that-bar{
  display:none;
} */

.slider1:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider1 {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%; /* Full-width */
height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider1::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(42,218,255); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider1::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(42,218,255); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}